
<form class="form-signin" @submit.prevent="updatePassword">

  <h2 class="form-signin-heading">Update Password</h2>

  <p>Don't have an account? Then please <a href='' @click.stop.prevent="emitRegister">sign up</a>.</p>

  <alert v-if="errorMessage" :message="errorMessage" :severity="'danger'"></alert>

  <label for="inputOldPassword" class="sr-only">Current Password</label>
  <input id="inputOldPassword" class="form-control" type="password" placeholder="currentpassword" required autofocus v-model="oldPassword" />

  <label for="inputNewPassword" class="sr-only">New Password</label>
  <input id="inputNewPassword" class="form-control" type="password" placeholder="newpassword" required v-model="newPassword" />

  <button class="btn btn-lg btn-info btn-block" type="submit">Update</button>
</form>
