extends /site/base.pug

block append css 
  link(
    href="/static/site/css/bootstrap.min.css"
    rel="stylesheet"
  )
block append js
  script(src="/static/site/js/jquery.min.js")
  script(src="/static/site/js/popper.min.js")
  script(src="/static/site/js/bootstrap.min.js")
