extends /site/react/bootstrap_react.pug

block append css
  link(
    href="/static/site/css/signin.bootstrap.css"
    rel="stylesheet"
  )
block prepend js
    script(src="/static/site/js/axios.min.js")
